/* Modifications to http://kevinburke.bitbucket.org/markdowncss/markdown.css */

ul,ol {
    margin: 0 0 0 35px;
}

a
{
  color: black;
  text-decoration: none;
  background-color: transparent;
}

a:hover
{
  color: black;
  background: #CAFFFF;
}
